<h3>List of Users</h3>
<% if @users.empty? %>
  <strong>THERE ARE NO USERS</strong>
<% else %>
  <ul>
  <% @users.each do |user| %>
    <li>
      <a href=<%= "/users/#{ user.id }" %>>
        <%= user.name %>
      </a>
    </li>
  <% end %>
  </ul>
<% end %>
